body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #393939;
}

.calculator {
    background-color: #C5B8BC;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.calculator-display {
    width: 93%;
    padding: 10px;
    font-size: 2em;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: right;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    font-size: 1.5em;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    background-color: #393736;
    color: white;
    border: none;
}

button:hover {
    background-color: #21201F;
}

.button-equals {
    grid-column: span 4;
    background-color: #615E5E;
}

.button-equals:hover {
    background-color: #4C4949;
}
